@use "./variables" as *;
@use "./mixins" as *;


.afterparty {
  @include vw(padding-top, 100, 50, 100);

  .container {
    h2 {
      text-align: center;
      font-weight: 700;
      font-family: "Manrope";

      strong {
        padding: 0.4375rem 0.9375rem;
        background: #F7E405;
        border-radius: 0.3125rem;
        transform: rotate(4.68deg);
        display: inline-block;
        margin-left: 0.125rem;
        color: #2C3055;
        font-weight: 700;

      }
      @media (width <= 37.5em) {
        strong {
          display: inline-block;
          margin-top: 0.9375rem;
        }
      }
    }

    p {
      text-align: center;
      font-size: 1rem;
      color: #D9D9D9;
      font-size: 1rem;
      margin-top: 1.25rem;
      text-transform: uppercase;
    }

    .afterparty-items {
      margin-top: 4.375rem;
      display: flex;
      justify-content: center;
      align-items: stretch;
      column-gap: 3.75rem;

      .afterparty-item__wrapper {
        max-width: 18.125rem;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0.9375rem;
        padding-bottom: 2rem;
        padding-top: 0rem;


        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border: 0.625rem solid #2C3055;
          border-radius: 1.5625rem;
          transition: transform 0.3s ease-in-out;
        }

        .afterparty-item {
          width: 100%;
          height: 100%;
          border-radius: 1.5625rem;
          display: flex;
          flex-direction: column;
          row-gap: 0.8125rem;

          .afteparty-image {
            aspect-ratio: 250 / 250;
            border-radius: 0.9375rem;
            background: #FF29AE;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
              border-radius: 0.9375rem;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          h3 {
            font-family: "Manrope";
            font-weight: 700;
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: 0.0625rem;
            text-align: center;
            
            &:empty {
              display: none;
            }
          }

        p {
          color: #FFF;
          margin: 0 auto;
          text-align: center;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 0.0375rem;

          &:empty {
            display: none;
          }
        }
        }
        @media (hover:hover) {
          &:hover {
            &:before {
              transform: rotate(6.75deg);
              border-color: #FF29AE;
            }
           
          }

        }
      }

      @media (width <= 37.5em) {
        flex-direction: column;
        row-gap: 2.50rem;
        .afterparty-item__wrapper { 
          padding-bottom: 3.75rem;
          .afterparty-item { 
            margin-top: -0.9375rem;
          }
        }
      }
    }
  }
}