.app {
  background: #fff;
  position: relative;
  overflow: hidden;
  .app-bg {
    position: absolute;
    &.left {
      left: -30%;
      top: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
       }
    }

    &.right {
      right: 0rem;
      bottom: 0;
      width: 100%;
      height: 100%;
   img {
    width: 100%;
    height: 100%;
   }
    }
  }
}