@use "./variables" as *;
@use "./mixins" as *;

.app {
  @include vw(padding-top, 80, 62, 80);
  padding-bottom: 2.75rem;
  background: #fff;
  position: relative;
  overflow: hidden;

  .app-bg {
    position: absolute;

    &.left {
      left: -27%;
      top: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.right {
      right: 0rem;
      bottom: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
    @media (width <= 48em) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 2;

    .app-items {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      @include vw(column-gap, 54, 30, 54);

      .app-item {
        &.left {
          h2 {
            text-align: center;
            display: none;
            color: #222649;
            
            font-weight: 500;
          }
          p {
            display: none;
          }
          flex: 1 1 40%;

          .app-item__img {
            position: relative;
            border-radius: 0.625rem;
            width: 100%;
            height: 100%;

            img {
              border-radius: 0.625rem;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .app-image__text {
              color: #222649;
              text-align: center;
              font-family: "Bebas Neue", sans-serif;
              @include vw(font-size, 57,39,57);
              font-weight: 400;
              line-height: 100%;
              text-transform: uppercase;
              background: #F7E405;
              position: absolute;
              padding-top: 0.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-left: 0.875rem;
              padding-right: 0.875rem;
              bottom: 40%;
              line-height: 100%;
              left: 50%;
              transform: rotate(4.607deg) translate(-50%, 40%);
            }
            @media (width <= 62em) {
              width: auto;
              height: auto;
              aspect-ratio: 1 / 1;
            }
          }
        }

        &.right {
          margin-top: 1.75rem;
          flex: 1 1 60%;

          h2 {
            color: #222649;
            margin-bottom: 2.5rem;
            font-weight: 500;
          }

          p {
            color: #222649;
            font-size: 1rem;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 0.05rem;

            &:not(:last-child) {
              margin-bottom: 1.25rem;
            }

           
          }
          .main-button__wrap {
            margin-top: 2.0625rem;
            display: flex;
            align-items: center;
            column-gap: 2.5rem;

            .main-button {
              color: #222649;
              height: auto;
              width: auto;
              max-width: none;
              text-align: center;
              font-size: 0.9375rem;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              letter-spacing: 0.0469rem;
              text-transform: uppercase;
              border: 0.0625rem solid #222649;
              padding: 1.0625rem 1.875rem;
              width: fit-content;
              @media (hover:hover) {
                &:hover {
                  background: #222649;
                  color: #fff;
                }
              }

              @media (hover:none) {
                &:active {
                  background: #222649;
                  color: #fff;
                }
              }
            }
          }
        }
      }

@media (width <= 48em) {
  flex-direction: column;
  .app-item { 
    &.left {
      h2 {
        display: block;
        margin-bottom: 1.9375rem;
      }
      
    }
    &.right {
      h2 {
        display: none;
      }
      .main-button__wrap { 
        margin-top: 2.5rem;
        justify-content: center;
        .qr-code {
          display: none;
        }
      }
    }
  }
}
    }
    .app-bottom__items { 
      display: flex;
      justify-content: center;
      align-items: center;
      @include vw(column-gap, 164,30,164);
      .app-bottom__item {  
        &.left {
          flex: 1 1 30%;
        }
        &.
      }
    }
  }
}