.app {
  background: #fff;
  position: relative;
  overflow: hidden;

  .app-bg {
    position: absolute;

    &.left {
      left: -27%;
      top: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.right {
      right: 0rem;
      bottom: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;

    .app-items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .app-item {
        &.left {
          flex: 0 1 50%;

          .app-item__img {
            position: relative;
            background: #ff29a3;
            border-radius: 0.625rem;
            aspect-ratio: 1 / 1;
            overflow: hidden;

            img {
              border-radius: 0.625rem;
              width: 100%;
              height: 100%;
            }

            .app-image__text {
              color: #222649;
              text-align: center;
              font-family: "Bebas Neue", sans-serif;
              font-size: 3.598rem;
              font-weight: 400;
              line-height: 100%;
              text-transform: uppercase;
              background: #F7E405;
              padding: 0.4375rem 0.9375rem;
              border-radius: 0.3125rem;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
            }
          }
        }
      }

      &.right {
        flex: 0 1 50%;
      }
    }
  }
}