.app {
  background: #fff;
  position: relative;
  overflow: hidden;
  .app-bg {
    position: absolute;
    &.left {
      left: 0rem;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &.right {
      left: 50%;
      transform: translateX(50%);
      bottom: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}