.app {
  background: #fff;
  position: relative;
  overflow: hidden;
  .app-bg {
    position: absolute;
    &.left {
      left: -27%;
      top: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
       }
    }

    &.right {
      right: 0rem;
      bottom: 0;
      width: 100%;
      height: 100%;
   img {
    width: 100%;
    height: 100%;
   }
    }
  }
  .container {
    position: relative;
    z-index: 2;
    .app-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .app-item {
        &.left {
          flex: 0 1 50%;
          .app-item__img {
            position: relative;
            background: #ff29a3;
            border-radius: 0.625rem;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            img {
            border-radius: 0.625rem;
              width: 100%;
              height: 100%;
            }
            .app-image__text { 
              position: absolute;
            }
          }
          }
        }
        &.right {
          flex: 0 1 50%;
      }
    }
  }
}