@use "./variables" as *;
@use "./mixins" as *;

.blockchain { 
  overflow: hidden;
  padding-bottom: 150%;
  position: relative;
  .blockchain-bg { 
    position: absolute;
    top: 0;
    left: 0;
   
  }
  .blockchain-circle {
    position: absolute;
    top: 0;
    right: 0rem;
    max-width: 100%;
    z-index: 1;
}
.container {
  
}
}