@use "./variables" as *;
@use "./mixins" as *;

.blockchain { 
  padding-bottom: 150%;
  position: relative;
  .blockchain-bg { 
    position: absolute;
    top: 0;
    left: 0;
   
  }
  .blockchain-circle {
    position: absolute;
    top: 0;
    right: -20%;
    width: 100%;
    object-fit: cover;
    max-width: none;
    height: 44.0625rem;
    z-index: 1;
}
}