@use "./variables" as *;
@use "./mixins" as *;

.blockchain {
  padding-top: 4.375rem;
  border-top-right-radius: 1.5625rem;
  position: relative;

  .blockchain-img-text {
    &.mob {

      display: none;

      @media (width <=62em) {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 5.125rem;
        left: 49%;
        transform: translateX(-49%);
        width: 100%;
        z-index: 5;

        p {
          @include vw(font-size, 20, 16, 20);
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: 0.0625rem;
          text-transform: uppercase;
          background: #FF29AE;
          max-width: 19.125rem;
          border-radius: 0.3125rem;
          transform: rotate(-7.895deg);
          padding: 7px 7px;

          &:first-child {
            transform: translate(-2.25rem, 42px) rotate(-7.895deg);

          }

          &:last-child {

            transform: translate(5.875rem, 31px) rotate(-7.895deg);

            @media (width <=30em) {
              transform: translate(4.375rem, 2.5rem) rotate(-7.895deg);
            }
          }
        }
      }
    }
  }

  .blockchain-voices {
    transform: rotate(9.953deg);
    background: #F7E405;
    @include vw(font-size, 20, 16, 20);
    font-style: normal;
    font-weight: 700;
    padding: 7px 7px;
    line-height: 120%;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: #222649;
    border-radius: 0.3125rem;
    position: absolute;
    left: 19.75rem;
    top: 11.25rem;
    z-index: 3;

    @media (width <=78.125em) {
      left: 14.875rem;
    }

    @media (width <=72.5em) {
      left: 2.875rem;
      top: 2.25rem;
    }



    @media (width <=62em) {
      top: -148px;
      left: 70%;
      transform: rotate(9.953deg) translateX(-70%);
    }
    @media (width <= 32.5rem) { 
      text-align: center;
      width: 35%;
    }

    @media (width <= 30em) { 
      text-align: center;
      width: 45%;
    }

   
  }

  .blockchain-img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 153.125rem;
    position: absolute;

    z-index: 3;

    .blockchain-img-text {
      @media (width <=62em) {
        display: none;
      }
    }

    p {
      @include vw(font-size, 20, 16, 20);
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
      background: #FF29AE;
      max-width: 19.125rem;
      border-radius: 0.3125rem;
      padding: 7px 7px;

    }


    @media (width <=64em) {
      left: -3.125rem;
    }

    @media (width <=62em) {
      position: relative;
      top: -31.625rem;
      left: 36%;



    }

    @media (width <=30em) {
      top: -13.75rem;
      
    }

    &.man {
      left: 6.875rem;
      top: 0.875rem;

      p {
        position: relative;

        text-align: center;
        background: #2A2F5D;

        @include vw(font-size, 20, 16, 20);
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
        background: #FF29AE;
        max-width: 19.125rem;
        transform: rotate(-7.895deg) translate(-0.9375rem, -3.4375rem);
        color: #fff;

        @media (width <=30em) {
          z-index: 1;
          transform: rotate(-7.895deg) translate(1.875rem, -3.9375rem);

        }

        @media (width <=72.5em) {
          padding: 0.4375rem 0.5625rem;
        }

        @media (width <=62em) {
          position: relative;
          z-index: 5;
        }
      }

      @media (width <=78.125rem) {
        top: 1.875rem;
        left: 1.875rem;
      }

      @media (width <=72.5em) {
        max-width: 15rem;

      }


      @media (width <=62em) {
        top: -34.6875rem;
        left: 46%;
        transform: translateX(-50%);

      }

      @media (width <=30em) {
        left: 41%;
        top: -17/rem;
      }
    }

    &.girl {
      left: 11.5rem;
      top: 27.5rem;

      .blockchain-img-text {
        @media (width <=75em) {
          width: 100%;
        }
      }

      p {
        text-align: center;
        transform: rotate(2.384deg) translate(-3.9375rem, -1.0625rem);
        max-width: 13.125rem;
        width: 100%;

        @media (width <=85em) {
          padding: 0.375rem 0.6875rem;
        }


        @media (width <=75em) {
          text-align: center;
          transform: rotate(2.384deg) translate(1.0625rem, -1.0625rem);
          max-width: 14.125rem;
          width: 100%;
        }

        @media (width <=72.5em) {
          transform: rotate(2.384deg) translate(0rem, -1.0625rem);
        }
      }

      @media (width <=85em) {
        left: 2.5rem;
        top: 29.5rem;

      }


      @media (width <=78.125em) {
        left: 0.5rem;
      }


      @media (width <=72.5rem) {
        max-width: 15rem;
        top: 24.5rem;

      }


      @media (width <=62em) {
        top: -50rem;
        left: 47%;
        max-width: 18rem;
        width: 100%;
      }

      @media (width <=30em) {
        left: 36%;
      }
    }
  }



  &:before {
    content: "";
    @include vw(width, 1233, 400, 1233);
    @include vw(height, 1233, 400, 1233);
    position: absolute;
    top: 15.625rem;
    border-radius: 50%;
    left: -10%;
    background: #2A2F5D;
    filter: blur(7.8125rem);
    z-index: 0;
  }


  .blockchain-bg {

    position: absolute;
    top: -50%;
    left: 0;
    width: 77.8125rem;

    @media (width <=75rem) {
      width: 53.8125rem;

    }

    @media (width <=62em) {
      display: none;
    }


  }

  .blockchain-circle {
    position: absolute;
    top: 0;
    right: 0rem;
    max-width: 100%;
    z-index: 1;
    border-top-right-radius: 1.5625rem;
  }

  .container {
    position: relative;
    z-index: 4;

    .blockchain-block {
      max-width: 44.25rem;
      margin-left: auto;
      display: flex;
      flex-direction: column;

      h2 {
        font-family: "Bebas Neue Cyrillic", sans-serif;
        margin-bottom: 1.25rem;
        letter-spacing: 0.2rem;
      }

      .block-chain-block__list {
        margin-bottom: 1.25rem;

        ul {
          display: flex;
          flex-direction: column;
          row-gap: 1.25rem;
          align-items: flex-start;

          li {
            justify-content: flex-start;
            width: auto;
            display: flex;
            align-items: center;
            column-gap: 0.625rem;
            position: relative;
            letter-spacing: 0.0625rem;
            padding: 0.4375rem 1.25rem;
            @include vw(font-size, 20, 15, 20);
            border-radius: 0.3125rem;
            background: rgba(245, 245, 245, 0.05);
            backdrop-filter: blur(1.5625rem);

            &:before {
              content: "";
              width: 0.75rem;
              height: 1.3125rem;
              background: url(../../assets/images/zipper-yellow.svg) no-repeat center/100%;
            }

          }
        }
      }

      .block-chain-block__text {
        p {
          color: #D9D9D9;
          @include vw(font-size, 16, 15, 16);
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 0.8px;

          &:first-child {
            @include vw(margin-top, 50, 44, 50);
            text-transform: uppercase;
            @include vw(margin-bottom, 35, 15, 35);
          }
        }

        ul {
          margin-top: 0.9375rem;
          padding-left: 1.25rem;
          margin-bottom: 0.9375rem;

          li {
            color: #D9D9D9;
            @include vw(font-size, 16, 15, 16);
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 0.8px;
            list-style: disc;

            &::marker {
              color: #D9D9D9;
            }
          }
        }
      }

      @media (width <=62em) {
        margin: 0 auto;
      }

      .main-button {
        margin-top: 2.5rem;
        position: relative;
        z-index: 3;
        background: transparent;
        border: 0.0625rem solid #fff;
        max-width: 13.5rem;

        @media (hover:hover) {
          &:hover {
            background: #FF29AE;
            color: #fff;
            border-color: transparent;
          }
        }

        @media (hover:none) {
          &:active {
            background: #FF29AE;
            color: #fff;
            border-color: transparent;
          }
        }

        img {
          display: block;

        }

        @media (width <=48em) {
          margin: 0 auto;
          margin-top: 2.5rem;
        }
      }
    }

    @media (width <=62em) {
      margin-top: -38.8125rem;
    }

    @media (width <=30em) {
      margin-top: -25.8125rem;
    }
  }

  @media (width <=62em) {
    margin-top: 11.25rem;
    padding-top: 22.5rem;
  }
  @media (width <=30em) { 
    padding-top: 5.5rem;
  }

}

.lang-en {
  .blockchain {
    .blockchain-img-block {
      p {
        &:first-child {
          max-width: 14.125rem;
        }
      }
    }
  }
}