@use "./variables" as *;
@use "./mixins" as *;


.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 1.25rem;
  border-radius: 0.625rem;
  column-gap: 0.625rem;
  font-size: 0.9375rem;
  line-height: 120%;
  text-align: center;
 
  &._border {
    background: transparent;
    border: 1px solid #222649;
  }
  &.bg-pink {
    svg {
      display: none;
    }
    background: #ff29a3;
    color: #fff;
  }

}