@use "./variables" as *;
@use "./mixins" as *;

.footer {
  background: #222649;
  .footer-wrapper {
    background: #1B1F3D;
    .footer-items { 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1.25rem;
      .logo {
        
      }
      .footer-menu {
        
      }
    }
  }
}