@use "./variables" as *;
@use "./mixins" as *;

.fullset {
  margin-bottom: 18.75rem;
  @include vw(padding-top, 100, 50, 100);

  .container {
    h2 {
      text-align: center;
      font-family: "Manrope";
      @include vw(font-size, 48, 35, 48);
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.05rem;
      color: #FFF;
      margin-bottom: 1.25rem;
    }

    > p {
      text-align: center;
      color: #D9D9D9;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }

    .fullset-items {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .fullset-circle {
        max-width: 43.125rem;
        width: 100%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        z-index: 1;

      }

      .fullset-item {
        flex: 0 1 45%;

        h3 {
          color: #222649;
          text-align: center;
          font-family: 'Manrope';
          @include vw(font-size, 16, 12, 16);
          font-weight: 700;
          line-height: 120%;
          letter-spacing: 0.05rem;
          text-transform: uppercase;
          padding: 0.625rem 0.75rem;
          border-radius: 3.125rem;
          background: #17F7E2;
        }

        p {
          color: #FFF;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 0.05rem;
        }
        &:nth-child(1) {
          flex: 1 1 100%;
          h3 {
            max-width: 21.875rem;
          }
      }
      }
      
    }
  }
}