@use "./variables" as *;
@use "./mixins" as *;

.header {
  background: #fff;

  .container {
    .header-block {
      column-gap: 0.9375rem;
      display: grid;
      align-items: center;
      grid-template-columns: 0.1fr 0.65fr 0.3fr 0.7fr;

      .btn_nav {
        display: none;
      }

      .languages-menu {
        border-radius: 0.3125rem;
        padding: 0.9375rem 0.625rem;
        background: #F7F7F7;

        img {
          width: 1.375rem;
          height: 1.375rem;
        }

        display: flex;
        align-items: center;
        column-gap: 0.625rem;

        ul {
         
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0rem;
          background: transparent;
          column-gap: 0.3125rem;

          li {

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #222649;

              padding: 0.625rem 0.625rem;
              border-radius: 0.3125rem;
              transition: 0.3s ease;
            }

            &.current-lang {
              a {
                background: #FF29AE;
                color: #fff;
              }
            }

          }
        }
      }

      .header-wrapper {
        @include vw(margin-left, 26,15,26);
        ul {
          @include vw(column-gap,30,15,30 );
          display: flex;
          align-items: center;

          li {
            a {
              @include vw(padding-top, 38, 20, 38);
              @include vw(padding-bottom, 38, 20, 38);
              color: #222649;
              font-size: 0.9375rem;
              font-weight: 400;
              line-height: 120%;
              letter-spacing: 0.0469rem;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                @include vw(bottom, 34, 20, 34);
                left: 0;
                width: 0%;
                height: 2px;
                transform-origin: right;
                transform: scaleX(0);
            }
                background: #222649;
                transition: 0.3s ease;
              }
              @media (hover:hover) {
                &:hover {
                  &::after { 
                    transform-origin: left;
                    transform: scaleX(1);
                  }
                }
              }
            }
          }
        }
      }
      .logo {
        flex: none;
      }
      .header-buttons { 
        display: flex;
        align-items: stretch;
        justify-self: flex-end;
        @include vw(column-gap, 45,20,45);
      }
    }
  }
}