@use "./variables" as *;
@use "./mixins" as *;

.header {
  background: #fff;

  .container {
    .header-block {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .btn_nav {
        display: none;
      }
      .languages-menu {
        img {
          width: 1.375rem;
          height: 1.375rem;
        }
        display: flex;
        column-gap: 0.625rem;
        ul {
          column-gap: 0.3125rem;
          li {

          }
        }
      }

     
    }
  }
}