@use "./variables" as *;
@use "./mixins" as *;

.header {
  background: #fff;

  .container {
    .header-block {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(4, 1fr);
      .btn_nav {
        display: none;
      }
      .languages-menu {
        max-width: 9.375rem;
        padding: 0.9375rem 1.25rem;
        width: 100%;
        background: #F7F7F7;
        img {
          width: 1.375rem;
          height: 1.375rem;
        }
        display: flex;
        align-items: center;
        column-gap: 0.625rem;
        ul {
          display: flex;
          align-items: center;
          padding: 0rem;
          background: transparent;
          column-gap: 0.3125rem;
          li {
          
            a {
              padding: 5px 0.5rem;
              border-radius: 0.3125rem;
              transition: 0.3s ease;
            }
           
            &.current-lang {
             a {
              background:#FF29AE;
              color: #fff;
             }
            }

          }
        }
      }

     
    }
  }
}