@use "./variables" as *;
@use "./mixins" as *;

.hero {
  @include vw(padding-left, 150,);
  @include vw(padding-right, );
  @include vw(padding-top, );
  @include vw(padding-bottom, );
  background: #fff;
  color:#222649;
  
  .container {
    max-width: 65.75rem;
    margin-left: auto;
    .hero-items {
      display: flex;
      
      .hero-item.left {
        flex: 1 1 50%;
      }
    }
  }
}

