@use "./variables" as *;
@use "./mixins" as *;

.hero {
  background: #fff;
  color: #222649;
  position: relative;
  z-index: 3;
  padding-bottom: 2.5rem;
  overflow: hidden;
  @include vw(padding-top, 150, 114, 150);
  .hero-background {
    position: absolute;
    top: 90px;
    left: -131px;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: none;
    }
    @media (width <= 48em) {
      top: 0;
      left: 0;
    }
  }
 

  .container {
    margin-left: auto;

    .hero-items {
      max-width: 68.375rem;
      margin-left: auto;
      @include vw(column-gap, 172, 30, 172);
      display: flex;
      justify-content: flex-end;

      .hero-item {
        &.left {
          flex: 0 1 50%;

          .hero-item__text {
            display: none;
          }

          h1 {
            strong {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              transform: rotate(-3.821deg) translateY(-1.5rem);
              font-weight: 400;
              position: relative;

              &:before {
                content: "";
                position: absolute;

                padding: 0.4375rem 0.9375rem;

                max-width: 524px;
                width: 100%;
                @include vw(width, 524, 277, 524);
                @include vw(height, 137, 80, 137);
                border-radius: 0.3125rem;
                background: #F7E405;
                z-index: -1;
              }

              &:after {
                content: "";
                position: absolute;
                transform: rotate(-6.175deg);
                top: 20px;
                left: 0.9375rem;
                @include vw(width, 555, 277, 555);
                @include vw(height, 137, 80, 137);
                background: #EAD800;
                filter: blur(1.875rem);
                z-index: -2;
              }

              @media (width <=62em) {
                transform: rotate(-6.175deg) translateY(-1.25rem);
              }
            }
          }


        }

        &.right {
          display: flex;
          flex-direction: column;
          position: relative;
          flex: 0 1 25rem;


          .hero-image {
            width: 100%;
            height: 100%;

            img {
              max-width: none;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }


          .hero-location {
            position: absolute;
            top: 1.4375rem;
            right: 1.25rem;
            display: flex;
            align-items: center;
            @include vw(font-size, 20, 15, 20);
            column-gap: 0.625rem;
            z-index: 1;
            color: #fff;

            @media (width <=30em) {
              svg {
                width: 0.875rem;
                height: 1.1875rem;
              }
            }
          }

          .hero-time {
            position: absolute;
            bottom: 2.5rem;
            left: 0px;
            z-index: 1;

            p {
              width: 100%;
              
              position: relative;
              z-index: 1;
              color: #222649;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 0.75rem;
              font-weight: 700;
              line-height: 100%; 
              text-transform: uppercase;

              strong {
                position: relative;
                z-index: 1;
                transform: translateY(0.625rem);
                font-size: 4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                text-transform: uppercase;

              }
              &:before {
                content: "";
                position: absolute;
                top: -1.25rem;
                left: -3.125rem;
                width: 9.4375rem;
                height: 9.4375rem;
                background: url(../images/stiker.png) no-repeat center center;
                z-index: -1;
              }
            }

            @media (width <=62em) {
              bottom: 0.625rem;
            }
           
          }

          .circle-button__wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.625rem;
            border-radius: 50%;
            max-width: 9.375rem;
            width: 100%;
            height: 9.375rem;
            position: absolute;
            bottom: 2.875rem;
            right: 2.875rem;
            background: #fff;

            .circle-button {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background: #FF29AE;
              height: 100%;
              transition: all 0.3s ease;

              svg {
                transition: transform, all 0.3s ease;
              }
            }

            @media (width <=62em) {
              bottom: 1.875rem;
              right: 1.875rem;

            }

            @media (width <=37.5em) {
              bottom: 2.875rem;
              right: 2.875rem;
            }
          }

          @media (hover:hover) {
            &:hover {
              .circle-button__wrap {
                .circle-button {
                  background: #222649;

                  svg {
                    transform: translate(-0.75rem, -0.75rem);
                  }
                }
              }
            }
          }

        }
      }

      @media (width <=43.75em) {
        flex-direction: column;
        align-items: center;
        row-gap: 2.75rem;

        .hero-item {
          &.right {
            max-width: 25rem;
            width: 100%;
            margin: 0 auto;
            flex: auto;


            .hero-image {
              img {
                width: 100%;
                height: 100%;
              }
            }

            .hero-time {
              bottom: 50px;
            }

            .hero-circle__wrap {
              bottom: 3.2rem;
              right: 3.2rem;
            }
          }

          &.left {
            display: flex;
            align-items: center;
            flex-direction: column;

            .hero-item__text {
              margin-top: 3.1875rem;
              display: flex;
              align-self: flex-start;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              letter-spacing: 0.15rem;
              text-transform: uppercase;

              p {
                display: flex;
                font-size: 1.0625rem;
                align-items: center;
                column-gap: 0.3125rem;
                letter-spacing: 0.0563rem;

                img {
                  width: 1.3125rem;
                  height: 2.3125rem;
                }
              }

            }

            h1 {
              strong {
                transform: rotate(-3.821deg) translateY(-0.4375rem);
              }
            }
          }
        }

      }

      @media (width <=30em) {
        .hero-item {
          &.right {
            position: relative;
            right: -1.125rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            max-width: 25rem;
            width: 100%;
            flex: 1 1 100%;

            .hero-location {
              right: 3.125rem;
            }
          }


        }
      }
    }

    .hero-bottom {
      margin-top: 1.5625rem;
      max-width: 68.375rem;
      margin-left: auto;
      @include vw(column-gap, 172, 30, 172);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .hero-item__text {


        @include vw(font-size, 48, 18, 48);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.15rem;
        text-transform: uppercase;

        p {
          display: flex;
          align-items: center;
          column-gap: 0.9375rem;
        }

      }

      .hero-list {
        @include vw(margin-top, 60, 44, 60);
        flex-direction: column;
        row-gap: 1.875rem;


        p {
          margin-bottom: 1.875rem;
          @include vw(font-size, 24, 15, 24);
          text-transform: uppercase;
        }

        ul {
          padding-left: 1.25rem;
          display: flex;
          align-items: center;
          column-gap: 0.9375rem;
          column-gap: 1.875rem;

          li {
            list-style: disc;
            padding: 0.4375rem 1.25rem;
            border-radius: 0.3125rem;
            background: rgba(245, 245, 245, 0.50);
            backdrop-filter: blur(1.5625rem);

            &::marker {
              color: #FF29AE;

            }
          }
          @media (width <= 48em) {
            max-width: 13.25rem;
            margin: 0 auto;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 0.625rem;
          }
        }
      }

      @media (width <=43.75em) {
        .hero-item__text {
          display: none;
        }

        .hero-list {
          width: 100%;
          margin-top: 0rem;
          align-items: center;

          p {
            text-align: center;
          }

          ul {
            max-width: 13.25rem;
            margin: 0 auto;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 0.625rem;
          }
        }
      }
      @media (width <= 48em) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    @media (width <=30em) {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}

.lang-en {
  .hero {
    .container {
      .hero-items {
        .hero-item {
          &.right {
            .hero-location {
              font-size: 1rem;
              top: 1.4375rem;
              align-items: flex-start;
              max-width: 12.5rem;
              svg {
                flex: none;
              }
              @media (width <= 30em) {
                right: 1.875rem;
                top: 0.9375rem;
              }
            }
          }
        }
      }
    }
  }
}