@use "./variables" as *;
@use "./mixins" as *;

.hero {
  @include vw(padding-top, 150, 114, 150);

  background: #fff;
  color: #222649;

  .container {
    margin-left: auto;

    .hero-items {
      max-width: 68.375rem;
      margin-left: auto;
      @include vw(column-gap, 172, 30, 172);
      display: flex;
      justify-content: flex-end;

      .hero-item {
        &.left {
          h1 {
            strong {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              transform: rotate(-3.821deg) translateY(-1.5rem);
              font-weight: 400;
              position: relative;

              &:before {
                content: "";
                position: absolute;
                top: -0.9375rem;
                padding: 0.4375rem 0.9375rem;
                left: -0.625rem;
                max-width: 32.75rem;
                width: 100%;
                height: 8.5625rem;
                border-radius: 0.3125rem;
                background: url(../../assets/images/front.svg) #F7E405 no-repeat center/100%;
                z-index: -1;
              }

              &:after {
                content: "";
                position: absolute;
                transform: rotate(-6.175deg);
                top: 20px;
                left: 0.9375rem;
                max-width: 34.6875rem;
                width: 100%;
                height: 9.375rem;
                background: #EAD800;
                filter: blur(1.875rem);
                z-index: -2;
              }
            }
          }

          flex: 1 1 50%;

        }

        &.right {
          position: relative;
          flex: 1 1 50%;

          .hero-image {}

          .hero-location {
            position: absolute;
            top: 1.4375rem;
            right: 1.25rem;
            display: flex;
            align-items: center;
            @include vw(font-size, 20, 15, 20);
            column-gap: 0.625rem;
            z-index: 1;
            color: #fff;

          }

          .hero-time {
            position: absolute;
            bottom: 5.625rem;
            left: 1.875rem;
            z-index: 1;

            p {
              color: #FFF;
              display: flex;
              flex-direction: column;
              @include vw(font-size, 24, 18, 24);
              font-size: 1.5rem;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              letter-spacing: 0.075rem;

              strong {
                transform: translateY(0.625rem);
                font-size: 3rem;
                font-style: normal;
                font-weight: 700;
              }
            }

          }

          .circle-button__wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.625rem;
            border-radius: 50%;
            max-width: 9.375rem;
            width: 100%;
            height: 9.375rem;
            position: absolute;
            bottom: 2.875rem;
            right: 2.875rem;
            background: #fff;

            .circle-button {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background: #FF29AE;
              height: 100%;
              transition: all 0.3s ease;
              svg {
                transition: all 0.3s ease;
              }
            }
          }
          @media (hover:hover) {
            &:hover {
              .circle-button__wrap {
                .circle-button {
                  background: #222649;
                  svg {
                    transform: translate(0.75rem, -0.75rem);
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}