@use "./variables" as *;
@use "./mixins" as *;

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 38, 73, 0.50);
  backdrop-filter: blur(1.5625rem);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup {
    position: relative;
    @include vw(padding-left, 126, 30, 126);
    @include vw(padding-right, 126, 30, 126);
    @include vw(padding-top, 76, 30, 76);
    @include vw(padding-bottom, 40, 30, 40);

    h2 {
      max-width: 37.5rem;
      margin: 0 auto;
      color: #FFF;
      text-align: center;
      font-family: 'Manrope';
      @include vw(font-size, 20, 18, 20);
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
    }

    max-width: 53.125rem;
    margin: 0 auto;
    border-radius: 1.5625rem;
    border: 0.3125rem solid #2C3055;
    background: #222649;

    .close-button {
      cursor: pointer;
      right: 1.375rem;
      top: 1.375rem;
      position: absolute;
    }

    .form-items {
      display: flex;
      flex-direction: column;
      max-width: 21.875rem;
      margin: 0 auto;
      row-gap: 1.25rem;

      .form-item {
        width: 100%;
        input {
          height: 100%;
          background: transparent;
          outline: none;
          width: 100%;
          padding: 0.9375rem 1.25rem;
          border-radius: 0.625rem;
          border: 0.0625rem solid #FFF;
          backdrop-filter: blur(1.5625rem);
        }
      }
    }
  }

}