@use "./variables" as *;
@use "./mixins" as *;

.price {
  @include vw(padding-top, 100, 50, 100);

  .container {
    h2 {
      @include vw(margin-bottom, 60,44,60);
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      font-family: 'Manrope';
      @include vw(font-size, 48, 30, 48);
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
    }

    .price-items {
      max-width: 52.5rem;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: stretch;
      justify-content: center;
      @include vw(column-gap, 40, 20, 40);

      .price-item__wrapper {
        height: auto;
        flex: 0 1 35%;
        position: relative;

        .price-item {
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 3;
          padding-top: 2.1875rem;
          padding-bottom: 2.1875rem;
          @include vw(padding-left, 63, 20, 63);
          @include vw(padding-right, 63, 20, 63);
          border-radius: 1.5625rem;
          background: #2C3055;

          h3 {
            font-family: "Bebas Neue";
            font-size: 4rem;
            text-align: center;
            line-height: 120%;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
          }

          .price-item__description {
            ul {
              width: 100%;
              display: flex;
              flex-direction: column;
              padding-left: 1.25rem;

              li {
                width: 100%;
                color: #FFF;
                list-style-type: disc;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.05rem;

                &::marker {
                  color: #fff;
                }
              }
            }


          }

          .price-block {
            flex: 1 1 100%;
            @include vw(margin-top, 45, 31, 45);
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .price-block__item {
              &.left {
                display: flex;
                flex-direction: column;

                .price-block__old-price {
                  font-size: 3rem;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 120%;
                  letter-spacing: 0.15rem;
                  text-decoration-line: line-through;
                  text-transform: uppercase;
                  color: rgba(255, 255, 255, 0.05);
                  @media (width <= 23.4375em) {
                    font-size: 2.6875rem;  
                  }
                }

                .price-block__new-price {
                  font-size: 3rem;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 120%;
                  letter-spacing: 0.15rem;
                  text-transform: uppercase;
                  color: #fff;

                  span {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                  }
                  @media (width <= 23.4375em) {
                    font-size: 2.6875rem;  
                  }
                }
              }

              &.right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                row-gap: 1.0625rem;

                .price-block__small-label {
                  padding: 0.4375rem 0.3125rem;
                  border-radius: 0.3125rem;
                  background: rgba(245, 245, 245, 0.05);
                  backdrop-filter: blur(1.5625rem);
                  color: #FFF;
                  text-align: center;
                  font-size: 0.625rem;
                  font-weight: 400;
                  line-height: 120%;
                  letter-spacing: 0.0187rem;
                }

                .price-block__discount {
                  padding: 0.6875rem 0.75rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 0.625rem;
                  flex-shrink: 0;
                  border-radius: 0.3125rem;
                  border: 0.0625rem solid #17F7E2;
                  color: #17F7E2;
                  text-align: center;
                  font-weight: 700;
                  line-height: 120%;
                  letter-spacing: 0.05rem;
                  text-transform: uppercase;

                }
              }
            }

          }

          .main-button {
            max-width: 10.5rem;
            margin: 0 auto;
            margin-top: 2.5rem;
          }
        }

     
        &:last-child {
          .price-item { 
            border-radius: 25px 250px 25px 25px;

          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 10%;
            height: 50%;
            background: #2C3055;
            border-radius: 1.5625rem;
            background: rgba(247, 228, 5, 0.50);
            filter: blur(3.125rem);
            z-index: 1;
          }

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 99%;
            height: 50%;
            border-radius: 1.5625rem;
            background: #F7E405;
            border-top-left-radius: 6.25rem;
            border-bottom-left-radius: 6.25rem;
            z-index: 2;
  
          }
        }

     @media (width <= 75em) {
      flex:  1 1 45%;
     }
      }
      @media (width <= 50rem) {
        flex-direction: column;
        row-gap: 2.25rem;
      }
    }
  }
}