@use "./variables" as *;
@use "./mixins" as *;

.price {
  .container {
    h2 {
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      font-family: 'Manrope';
      @include vw(font-size, 48, 30, 48);
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
    }

    .price-items {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      @include vw(column-gap, 40, 20, 40);

      .price-item__wrapper {
        flex: 1 1 45%;

        .price-item {
          padding-top: 2.1875rem;
          padding-bottom: 2.1875rem;
          @include vw(padding-left, 63, 38, 63);
          @include vw(padding-right, 63, 38, 63);
          border-radius: 1.5625rem;
          background: #2C3055;

          h3 {
            font-family: "Bebas Neue";
            font-size: 4rem;
            text-align: center;
            line-height: 120%;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
          }

          .price-item__description {
            ul {
              width: 100%;
              display: flex;
              flex-direction: column;
              padding-left: 1.25rem;

              li {
                width: 100%;
                color: #FFF;
                list-style-type: disc;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.05rem;

                &::marker {
                  color: #fff;
                }
              }
            }


          }

          .price-block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .price-block__item {
              &.left {
                display: flex;
                flex-direction: column;

                .price-block__old-price {
                  font-size: 3rem;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 120%;
                  letter-spacing: 0.15rem;
                  text-decoration-line: line-through;
                  text-transform: uppercase;
                  color: rgba(255, 255, 255, 0.05);
                }

                .price-block__new-price {
                  font-size: 3rem;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 120%;
                  letter-spacing: 0.15rem;
                  text-transform: uppercase;
                  color: #fff;

                  span {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                  }
                }
              }

              &.right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .price-block__small-label {}
              }
            }

          }
        }
      }
    }
  }
}