@use "./variables" as *;
@use "./mixins" as *;

.price {
  .container {
    h2 {
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      font-family: 'Manrope';
      @include vw(font-size, 48, 30, 48);
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
    }
    .price-items { 
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      @include vw(column-gap, 40,20,40);
      .price-item__wrapper {
        flex: 1 1 45%;
        .price-item {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1.25rem;
          background: #111;
          border-radius: 1.25rem;
        }
      }
    }
  }
}