@use "./variables" as *;
@use "./mixins" as *;

.schedule {
  @include vw(padding-top, 100, 50, 100);

  .container {
    .shedule-wrapper {
      position: relative;
      max-width: 53.125rem;
      box-sizing: border-box;
      margin: 0 auto;
      transition: all 0.5s ease;
      
      &:before {
        position: absolute;
        top: -30px;
        left: 0;
        content: "";
        transform: rotate(0deg);
        flex-shrink: 0;
        border-radius: 25px;
        background: #FF29AE;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: all 0.5s ease;
      }

      &:after {
        position: absolute;
        top: 0px;
        left: 0;
        content: "";
        flex-shrink: 0;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 3;
        backdrop-filter: blur(30px);
      }
      

      &.active {
        &:before {
          opacity: 1;
          transform: rotate(-4.669deg);
        }
      }
      
      // Активное состояние когда секция видна
    
      .schedule-items {
        z-index: 2;
        display: flex;
        @include vw(padding-left, 85, 25, 85);
        @include vw(padding-right, 85, 25, 85);
        padding-top: 3.75rem;
        padding-bottom: 2.5rem;
        position: relative;
        overflow: hidden;
       
        flex-direction: column;
        flex-shrink: 0;
        border-radius: 1.5625rem;
        border: 0.3125rem solid #2C3055;
        background: #222649;
        transition: all 0.5s ease;
  
       
  
        .zip {
          position: absolute;
  
          &.zip-top {
  
            top: -0.625rem;
            left: -0.625rem;
            z-index: 1;
          }
  
          &.zip-bottom {
            position: absolute;
            bottom: -0.625rem;
            right: 0;
            z-index: 1;
  
            @media (width <=37.5em) {
              top: 74%;
              bottom: auto;
              transform: rotate(-19deg);
              right: -179px;
            }
          }
  
        }
  
        h2 {
          color: #fff;
          font-weight: 700;
          @include vw(font-size, 48, 35, 48);
          position: relative;
          z-index: 2;
          text-align: center;
          font-family: "Manrope";
          line-height: 120%;
  
          strong {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
            border-radius: 0.3125rem;
            background: #F7E405;
            color: #222649;
            transform: rotate(-3.821deg);
            display: inline-block;
          }
  
          @include vw(margin-bottom, 48, 44, 48);
        }
  
        .schedule-item {
          margin-bottom: 1.25rem;
          padding-bottom: 1.25rem;
          @include vw(padding-left, 65, 1, 65);
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          gap: 0.625rem;
          border-bottom: 0.0625rem solid #2C3055;
  
          .schedule-item-time {
            display: flex;
            align-items: center;
            column-gap: 0.625rem;
            color: #FFF;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.05rem;
  
          }
  
          .schedule-item-text {
            color: #FFF;
            font-size: 1rem;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 0.05rem;
          }
  
          &:last-child {
            border-bottom: none;
            margin-bottom: 0rem;
          }
  
          @media (width <=37.5em) {
            padding-left: 0rem;
          }
        }
  
        .main-button {
          max-width: 12.5rem;
          margin: 0 auto;
          margin-top: 2.5rem;
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}