@use "./variables" as *;
@use "./mixins" as *;

.speakers {
  position: relative;
  z-index: 3;
  @include vw(padding-top, 70, 50, 70);

  .container {
    h2 {
      text-align: center;
    }
  }
  .speakers-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
  }
}