@use "./variables" as *;
@use "./mixins" as *;

.subscribe {
  .container {
    .subscribe-items {
      display: flex;
      justify-content: space-between;
      column-gap: 1.875rem;
      .subscribe-item {
        &.left {
          flex: 0 1 50%;
      }
      &.right {
        flex:  0 1 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
    }
  }
}