@use "./variables" as *;
@use "./mixins" as *;

.subscribe {
  @include vw(padding-top, 120,50,120);
  @include vw(padding-bottom, 120,50,120);

  .container {
    .subscribe-items {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      column-gap: 1.875rem;

      .subscribe-item {
        height: auto;

        &.left {
          h2 {
            max-width: 31.25rem;
            font-family: "Manrope";
            color: #FFF;
            @include vw(font-size, 48, 35, 48);
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
            margin-bottom: 1.25rem;
            @media (width <= 30em) {
              max-width: 16.25rem;
            }
          }
          p {
            max-width: 28.875rem;
          }

          flex: 0 1 60%;
        }

        &.right {
          flex: 0 1 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;

          ul {
            display: flex;
            align-items: stretch;
            column-gap: 1.25rem;

            li {
              a {
                display: flex;
                align-items: center;
                justify-content: center;

                @media (hover:hover) {
                  &:hover {
                    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
                  }
                }

                @media (hover:none) {
                  &:active {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }

          .form-items {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            column-gap: 1.25rem;

            .form-item {
              flex: 0 1 50%;

              input:not([type="submit"]) {
                max-width: 21.875rem;
                width: 100%;
                &::placeholder {
                  color: #FFF;
                }

                padding: 1.0625rem 0rem 1.0625rem 1.25rem;
                background: transparent;
                border-radius: 10px;
                border: 1px solid #FFF;
                backdrop-filter: blur(25px);
                outline: none;
                color: #FFF;
                font-family: 'Manrope';
                font-size: 0.9375rem;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: 0.0469rem;

              }
              .main-button {
                padding: 1.0625rem 1.25rem;
                background: #fff;
                color: #222649;
                max-width: 9.5rem;
                width: 100%;
                outline: none !important;
                border: none !important;
                @media (hover:hover) {
                  &:hover {
                    background: #FF29AE;
                    color: #FFF;
                  }
                }
                @media (hover:none) {
                  &:active {
                    background: #FF29AE;
                    color: #FFF;  
                  }
                }
                @media (width <= 62em) {
                  max-width: none;
                }
              }
            }
          }
        }
      }
      @media (width <= 62em) {
        .subscribe-item { 
          &.left {
            flex: 1 1 50%;
          }
          &.right {
            flex: 1 1 50%;
          }
        }
      }
      @media (width <= 48em) {
        flex-direction: column;
        row-gap: 2.75rem;
        .subscribe-item { 
          &.right {
            row-gap: 2.75rem;
            align-items: flex-start;
            .form-items {
              border: 1px solid #FFF;
              border-radius: 10px;
              justify-content: space-between;
              .form-item {
                border: none;
                input:not([type="submit"]) { 
                  border: none;
                  max-width: none;
                  padding-right: 0.625rem;
                }
                .main-button {
                  max-width: 9.5rem;
                  margin-left: auto;
                }
                &:last-child {
                  max-width: 9.5rem;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}