.support-block {
  overflow: hidden;
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  max-width: 5rem;
  width: 100%;
  position: relative;
  .support-icon {
    background: #FF29AE;
    @include vw(width, 80,60,80);
    @include vw(height, 80,60,80);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .support-items {
    display: flex;
    flex-direction: column;
    row-gap: 0.9375rem;
    position: absolute;
    width: 100%;
    row-gap: 0.625rem;
    bottom: 0;
    transform: translateY(300%);
    transition: transform 0.3s ease;
    a {
      @include vw(width, 80,60,80);
    @include vw(height, 80,60,80);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (hover:hover) {
      &:hover {
        background: #FF29AE;
      }
    }
      background: #F7E405;
    }
    &:nth-child(2) { 
      background: #222649;
    }
    }
    &.active {
      transform: translateY(0);
    }
  }

}