@use "./variables" as *;
@use "./mixins" as *;

.support-block {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  max-width: 5rem;
  width: 100%;
  .support-icon {
    cursor: pointer;
    background: #FF29AE;
    @include vw(width, 80,60,80);
    @include vw(height, 80,60,80);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .support-items {
    margin-top: 0.625rem;
    display: none;
    flex-direction: column;
    row-gap: 0.625rem;
    position: absolute;
    width: 100%;
    bottom: 100%;
    z-index: 10;
    a {
      @include vw(width, 80,60,80);
    @include vw(height, 80,60,80);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:first-child {
      margin-bottom: 0.625rem;
      background: #F7E405;
      svg {
        path {
          transition: fill, all 0.3s ease;
        }
      }
      @media (hover:hover) {
        &:hover {
          background: #FF29AE;
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
    &:nth-child(2) { 
      margin-bottom: 0.625rem;
      background: #0079E2;
    }
    &:last-child {
      margin-bottom: 0.625rem;
      background: #fff;
    }
    }
  }
}
