@use "./variables" as *;
@use "./mixins" as *;

.conference-timer {
  max-width: 52.5rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  width: 100%;
  padding-top: 1.5625rem;
  padding-bottom: 4.6875rem;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(180deg, #2C3055 0%, rgba(44, 48, 85, 0.00) 92.8%);

  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.625rem;

    h3 {
      color: #FFF;
      text-align: center;
      font-family: 'Manrope';
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 120%;
      row-gap: 1.625rem;
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
    }

    .timer-display {
      column-gap: 1.25rem;
      display: flex;
      align-items: stretch;
      justify-content: center;

      .timer-unit {
        max-width: 6.25rem;
        width: 100%;
        height: 6.25rem;
        flex: none;
        border-radius: 1.5625rem;
        border: 0.0625rem solid #17F7E2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .timer-number {
          color: #FFF;
          text-align: center;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: 0.15rem;
          text-transform: uppercase;
        }

        .timer-label {
          text-transform: uppercase;
          color: #FFF;
          text-align: center;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0.0375rem;
        }
      }
    }
  }
}