@use "./variables" as *;
@use "./mixins" as *;

.conference-timer {
  max-width: 52.5rem;
  margin: 0 auto;
  width: 100%;
  padding-top: 1.5625rem;
  padding-bottom: 4.6875rem;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(180deg, #2C3055 0%, rgba(44, 48, 85, 0.00) 92.8%);
  .timer-container { 
    display: flex;
    align-items: stretch;
    justify-content: center;
    
  }
}