@use "./variables" as *;
@use "./mixins" as *;

.conference-timer {
  max-width: 56.375rem;
  margin: 0 auto;
  @include vw(margin-top, 100,40,100);
  width: 100%;
  padding-top: 1.5625rem;
  padding-bottom: 4.6875rem;
  padding-left: 1.0625rem;
  padding-right: 1.0625rem;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(180deg, #2C3055 0%, rgba(44, 48, 85, 0.00) 92.8%);

  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.625rem;

    h3 {
      color: #FFF;
      text-align: center;
      font-family: 'Manrope';
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 120%;
      row-gap: 1.625rem;
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
    }

    .timer-display {
      @include vw(column-gap, 20,10,20);
      display: flex;
      align-items: stretch;
      justify-content: center;

      .timer-unit {
        @include vw(width, 100, 70, 100);
        @include vw(height, 100, 70, 100);
        border-radius: 1.5625rem;
        border: 0.0625rem solid #17F7E2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .timer-number {
          color: #FFF;
          text-align: center;
          @include vw(font-size, 48, 32, 48);
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: 0.15rem;
          text-transform: uppercase;
        }

        .timer-label {
          text-transform: uppercase;
          color: #FFF;
          text-align: center;
          @include vw(font-size, 12, 10, 12);
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0.0375rem;
        }
        @media (width <= 23.75rem) {
          width: 3.75rem;
          height: 3.75rem;
        }
      }
    }
  }
}